.footer,

.navbar {
	background: #000000;
}

.bi {
	font-size: 1.8em;
}
.btn {
	background: #000000;
	border: 
	color: #3cc41d;
}

.btn:hover {
	background: #16bd45;
}

.card .btn:active {
	background-color: #3422cf;
}
.body {
	background: image();
}

.container {
	position: relative;
	text-align: center;
	color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
	position: absolute;
	bottom: 8px;
	left: 16px;
  }
  
  /* Top left text */
  .top-left {
	position: absolute;
	top: 8px;
	left: 16px;
  }
  
  /* Top right text */
  .top-right {
	position: absolute;
	top: 8px;
	right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
	position: absolute;
	bottom: 8px;
	right: 16px;
  }
  
  /* Centered text */
  .centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-10%, -10%);
  }

  body { 
	color: rgb(0, 255, 110);
  }